@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Be Vietnam Pro, sans-serif;
}
li {
  display: inherit;
}
a {
  display: inherit;
}
p {
  color: var(--dark_grayish_blue);
}
.app {
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-y: -250px;
  background-position-x: 750px;
}
/* Styling the header */
.app__header {
  display: flex;
  padding: 2rem 4rem 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 6rem;
}

@media screen and (min-width: 900px) {
  .app {
    background-position: center;
  }
  .hamburger {
    display: none;
  }
}

.app__header > img:nth-child(1) {
  display: none;
}

.menue__list {
  display: flex;
}
.menue__list > li {
  padding: 0 15px;
  color: var(--dark_blue);
  cursor: pointer;
}
.menue__list > li:hover {
  color: var(--dark_grayish_blue);
}
.menue__button {
  float: right;
  padding: 0.8rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}
.menue__button:hover {
  background-color: var(--very_pale_red);
  opacity: 90%;
}

/* Styling the content */

/* styling the chart__content  */

.content__chart {
  padding: 2rem 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  gap: 7rem;
  padding-bottom: 6rem;
}
.chart__text {
  width: 50%;
}
.chart__text > h1 {
  color: var(--dark_blue);
  font-size: 50px;
  padding-bottom: 2rem;
  font-weight: 700;
}
.chart__text > p {
  padding-bottom: 2rem;
  width: 80%;
  text-align: left;
}
.chart__img {
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.chart__img > img:nth-child(1) {
  position: relative;
  width: 111%;
  height: 100%;
  z-index: 1;
}
.chart__img > img:nth-child(2) {
  position: absolute;
  top: 0;
  z-index: 0;
}

.chart__button {
  width: max-content;
  padding: 0.8rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}
.app__header__mobile {
  display: none;
}
.close {
  display: none;
}
/* Styling the mobile view */
@media only screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("./images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40px -17px;
  }
  .app__header {
    padding: 2rem 1rem 0;
    align-items: flex-start;
    justify-content: baseline;
  }
  .header__menue {
    display: none;
  }
  .menue__button {
    display: none;
  }
  .app__header > img:nth-child(2) {
    display: block;
  }
  .chart__img > img {
    height: auto;
    z-index: 1;
  }
  .app__content {
    position: relative;
  }
  .content__chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    padding-bottom: 2rem;
  }
  .content__chart > .chart__text {
    position: relative;
    width: 100%;
    order: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .chart__text > h1 {
    font-size: 35px;
    padding-bottom: 0.5rem;
  }
  .chart__text > p {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .content__chart > .chart__img {
    z-index: 0;
    width: 100%;
    height: min-content;
    order: 1;
  }
  .chart__img > img {
    object-fit: contain;
  }
  .chart__button {
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  /* .chart__button {
    width: max-content;
    padding: 0.8rem 2rem;
    background-color: var(--bright_red);
    border-radius: 3rem;
    color: var(--very_pale_red);
    cursor: pointer;
  } */

  .app__header__mobile {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: calc(100% - 40px);
    margin: 20px 18px;
    background-color: var(--very_pale_red);
    z-index: 1;
  }

  .header__mobile {
    padding: 25px;
  }
  .mobile__list > li {
    padding-bottom: 15px;
    color: var(--dark_blue);
    font-weight: 700;
    cursor: pointer;
  }
  .mobile__list > li:hover {
    color: var(--bright_red);
  }
}
/* Styling the content about  */

.content__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  gap: 7rem;
  padding: 2rem 6rem 0;
  padding-bottom: 6rem;
}

/* Syling the left  */
.about__left > h1 {
  padding-bottom: 1rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--dark_blue);
}
.about__left > p {
  padding-bottom: 2rem;
}

/* Styling the Right */

.about__right {
  display: inline;
}
.right__numbers {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  gap: 24px;
  padding-bottom: 3rem;
}

.number {
  background-color: var(--bright_red);
  padding: 0.3rem 1.3rem;
  border-radius: 1rem;
  height: 27%;
  color: var(--very_pale_red);
}
h4 {
  color: var(--dark_blue);
  padding-bottom: 1.2rem;
}
@media only screen and (max-width: 900px) {
  .content__about {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 0rem 0 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .about__left > h1 {
    padding-bottom: 1rem;

    text-align: center;
    font-weight: bolder;
  }
  .about__left > p {
    text-align: center;
    padding-bottom: 10px;
  }
  .about__right {
    width: 100%;
  }
  .right__numbers {
    flex-direction: column;
    align-content: flex-start;
    align-items: baseline;
    justify-content: baseline;
    display: flex;
    padding-bottom: 2rem;
  }

  .number {
    z-index: 1;
  }
  .text {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .text > h4 {
    position: absolute;
    background-color: var(--very_pale_red);
    padding: 1.4% 0;
    font-size: 15px;
    font-weight: 700;
    text-align: center;

    width: 100%;

    margin-top: -54px;
  }
  .text p {
    width: 100%;
    text-align: start;
  }
}

/* Styling the content Testimonials */
.content__testim {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.content__testim > h1 {
  padding-bottom: 6rem;
  color: var(--dark_blue);
  font-weight: 700;
}
.content__testim > div {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testim__descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--vary_light_gray);
  position: relative;
  padding: 2rem;
  max-width: 100%;
}
.testim__descriptions > img {
  width: 60px;
  padding-bottom: 25px;
  position: absolute;
  top: 0;
  margin-top: -2rem;
}
.testim__user {
  padding-bottom: 1.6rem;
  color: var(--dark_blue);
  font-weight: 700;
  padding-top: 1rem;
}
.testim__button {
  margin: 4rem 0 9rem 0;
  width: max-content;
  padding: 0.8rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .content__testim {
    width: 100%;
  }
  .testim__button {
    margin: 2rem 0 3rem 0;
    width: max-content;
    padding: 0.8rem 2rem;
    background-color: var(--bright_red);
    border-radius: 4rem;
    color: var(--very_pale_red);
    cursor: pointer;
  }
}

/* Styling the prefooter */

.content__prefooter {
  padding: 3rem 6rem;
  display: flex;
  background-color: var(--bright_red);
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.content__prefooter > h1 {
  color: var(--vary_light_gray);
  width: 40%;
  font-weight: 700;
}

.prefooter__button {
  width: max-content;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  color: var(--bright_red);
  background-color: var(--vary_light_gray);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .content__prefooter {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4rem 1rem;
    flex-direction: column;
    width: auto;
    text-align: justify;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: -340px;
    background-position-y: -28px;
  }

  .content__prefooter > h1 {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
  }
}

/* Styling the Footer */

.app__footer {
  background-color: var(--very_dark_blue);
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  color: var(--vary_light_gray);
}
.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__icon > img {
  filter: brightness(0) invert(1);
  width: auto;
}
.icon > i {
  width: max-content;
  padding: 0 0.5rem 0 0;
}
.footer_menue {
  display: flex;
  flex-direction: column;
}
.app__footer ul li {
  padding: 0 0 0.8rem 0;
}
.app__footer ul li:hover {
  color: var(--bright_red);
  cursor: pointer;
}
.mobile {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  align-content: flex-start;
  gap: 7px;
}
.form button {
  width: max-content;
  padding: 0.8rem 1.3rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}
.form > div {
  display: flex;
  flex-direction: column;
}
.span {
  display: none;
}
.span_js {
  color: red;
  font-size: small;
  text-align: center;
  padding-top: 10px;
}

input {
  border: none;
  padding: 0.8rem;
  border-radius: 2rem;
}
.footer__copywrite {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .app__footer {
    flex-direction: column;
    padding: 2rem 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
  }

  .footer_menue {
    flex-direction: row;
  }
  .mobile {
    display: flex;
    width: 100%;
    order: 2;
    padding: 1rem 2rem;
  }
  .mobile ul {
    justify-content: space-between;
  }

  .footer__icon > img {
    width: auto;
    padding-top: 15px;
    order: 2;
  }
  .footer__icon {
    width: 100%;
    order: 3;
    justify-content: center;
    align-items: center;
  }
  .icon {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .icon > i {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .form {
    width: 100%;
    order: 1;
    justify-content: space-between;
  }
  .form div {
    width: 100%;
  }
  .form input {
    width: 100%;
  }
  .form button {
    padding: 0.8rem 2.6rem;
  }
  .footer__copywrite {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    width: auto;
    order: 4;
  }
  .footer__copywrite p {
    font-size: small;
  }
}
