@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
}
body {
  font-size: 16px;

  font-family: Be Vietnam Pro, sans-serif;
}
li {
  display: inherit;
}
a {
  display: inherit;
}
p {
  color: var(--dark_grayish_blue);
}
.app {
  justify-content: center;
  align-items: center;
}
/* Styling the header */
.app__header {
  display: flex;
  padding: 2rem 6rem 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 6rem;
}

.menue__list {
  display: flex;
}
.menue__list > li {
  padding: 0 15px;
  color: var(--dark_blue);
  cursor: pointer;
}
.menue__list > li:hover {
  color: var(--dark_grayish_blue);
}
.menue__button {
  float: right;
  padding: 0.5rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}
.menue__button:hover {
  background-color: var(--very_pale_red);

  opacity: 90%;
}

/* Styling the content */

.app__content {
}

/* styling the chart__content  */

.content__chart {
  padding: 2rem 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  gap: 7rem;
  padding-bottom: 6rem;
}
.chart__text {
  width: 50%;
}
.chart__text > h1 {
  color: var(--dark_blue);
  font-size: 50px;
  padding-bottom: 2rem;
  font-weight: 700;
}
.chart__text > p {
  padding-bottom: 2rem;
  width: 80%;
  text-align: left;
}
.chart__img {
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.chart__img > img:nth-child(1) {
  position: relative;
  width: 111%;
  height: 100%;
  z-index: 1;
}
.chart__img > img:nth-child(2) {
  position: absolute;
  top: 0;
  z-index: 0;
}

.chart__button {
  width: max-content;
  padding: 0.5rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}

/* Styling the content about  */
.content__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  gap: 7rem;
  padding-bottom: 4rem;
  padding: 2rem 6rem 0;
}

/* Syling the left  */
.about__left > h1 {
  padding-bottom: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--dark_blue);
}
.about__left > p {
  padding-bottom: 2rem;
  width: 80%;
  text-align: left;
}

/* Styling the Right */

.about__right {
  display: inline;
}
.right__numbers {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  gap: 24px;
  padding-bottom: 3rem;
}

.number {
  background-color: var(--bright_red);
  padding: 0.3rem 1.3rem;
  border-radius: 1rem;
  height: 27%;
  color: var(--very_pale_red);
}
h4 {
  color: var(--dark_blue);
  padding-bottom: 1.2rem;
}

/* Styling the content Testimonials */
.content__testim {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.content__testim > h1 {
  padding-bottom: 6rem;
  color: var(--dark_blue);
  font-weight: 700;
}
.content__testim > div {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testim__descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--very_pale_red);
  position: relative;
  padding: 2rem;
  max-width: 100%;
}
.testim__descriptions > img {
  width: 60px;
  padding-bottom: 25px;
  position: absolute;
  top: 0;
  margin-top: -2rem;
}
.testim__user {
  padding-bottom: 1.6rem;
  color: var(--dark_blue);
  font-weight: 400;
  padding-top: 1rem;
}
.testim__button {
  margin: 4rem 0 9rem 0;
  width: max-content;
  padding: 0.5rem 2rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}

/* Styling the prefooter */

.content__prefooter {
  padding: 3rem 6rem;
  display: flex;
  background-color: var(--bright_red);
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.content__prefooter > h1 {
  color: var(--vary_light_gray);
  width: 40%;
  font-weight: 700;
}
.prefooter__button {
  width: max-content;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  color: var(--bright_red);
  background-color: var(--vary_light_gray);
  cursor: pointer;
}

/* Styling the Footer */

.app__footer {
  background-color: var(--very_dark_blue);
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  color: var(--vary_light_gray);
}
.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__icon > img {
  filter: brightness(0) invert(1);
  width: 80%;
}
.icon > i {
  width: max-content;
  padding: 0 0.5rem 0 0;
}
.footer_menue {
  display: flex;
  flex-direction: column;
}
.app__footer ul li {
  padding: 0 0 0.8rem 0;
}
.app__footer ul li:hover {
  color: var(--bright_red);
  cursor: pointer;
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form > button {
  width: max-content;
  padding: 0.8rem 1.3rem;
  background-color: var(--bright_red);
  border-radius: 3rem;
  color: var(--very_pale_red);
  cursor: pointer;
}
input {
  border: none;
  padding: 0.8rem;
  border-radius: 2rem;
}
